<div class="row justify-content-center">
  <div class="col-md-4 register-memory">
    <!-- form card register -->
    <div class="card-body">
      <form [formGroup]="memoryForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="inputTitle">Title</label>
          <input class="form-control" type="text" formControlName="title">
          <!-- error -->
          <div class="invalid-feedback" *ngIf="submitted && myForm.title.errors?.required">
            Title is required.
          </div>
        </div>

        <div class="form-group">
          <label for="inputText">Text</label>
          <input class="form-control" type="text" formControlName="text">
          <!-- error -->
          <div class="invalid-feedback" *ngIf="submitted && myForm.text.errors?.required">
            Enter your Text.
          </div>
        </div>

        <div class="form-group">
          <label for="inputType">Type</label>
          <select class="custom-select form-control" (change)="updateProfile($event.target.value)"
                  formControlName="type">
            <option value="">Choose...</option>
            <option *ngFor="let memoryProfile of MemoryProfile" value="{{memoryProfile}}">{{memoryProfile}}
            </option>
          </select>
          <!-- error -->
          <div class="invalid-feedback" *ngIf="submitted && myForm.type.errors?.required">
            Choose Type.
          </div>
        </div>

        <div class="form-group">
          <button class="btn btn-success btn-lg btn-block" type="submit">Register</button>
        </div>
      </form>

    </div>
  </div><!-- form card register -->
</div>
