<div class="container" rtl>
  <h1>{{ "trans.perso.memories.title" | translate }}</h1>
  <div class="row">
    <div class="col-md-6">
      <h2>{{ "trans.perso.memories.subtitle1" | translate }}</h2>
      <mat-card
        *ngFor="let memory of books$ | async"
        [ngClass]="routeAnimationsElements"
        (click)="select(memory)"
      >
        <h3>{{ memory.title }}</h3>
        <small>{{ memory.author }}</small>
      </mat-card>
      <p *ngIf="(books$ | async)?.length === 0">
        {{ "trans.perso.memories.empty" | translate }}
      </p>
      <button
        type="button"
        mat-fab
        color="primary"
        class="add"
        [ngClass]="routeAnimationsElements"
        *ngIf="!isEditing"
        (click)="addNew()"
      >
        <fa-icon icon="plus"></fa-icon>
      </button>
    </div>
    <div class="col-md-6">
      <span class="d-flex justify-content-between">
        <h2>{{ "trans.perso.memories.subtitle2" | translate }}</h2>
        <span class="d-flex justify-content-end">
          <span *ngIf="selectedBook$ | async as selectedBook">
            <button mat-icon-button color="accent" *ngIf="!isEditing">
              <fa-icon
                icon="edit"
                (click)="edit(selectedBook)"
                [matTooltip]="'trans.perso.memories.tooltip.edit' | translate"
                matTooltipPosition="above"
              >
              </fa-icon>
            </button>
            <button mat-icon-button color="warn" (click)="delete(selectedBook)">
              <fa-icon
                icon="trash"
                [matTooltip]="'trans.perso.memories.tooltip.delete' | translate"
                matTooltipPosition="above"
              >
              </fa-icon>
            </button>
            <button mat-icon-button (click)="deselect()">
              <fa-icon
                icon="times"
                [matTooltip]="
                  'trans.perso.memories.tooltip.deselect' | translate
                "
                matTooltipPosition="above"
              >
              </fa-icon>
            </button>
          </span>
        </span>
      </span>

      <form
        [formGroup]="memoryFormGroup"
        [style.display]="isEditing ? 'block' : 'none'"
        [ngClass]="routeAnimationsElements"
      >
        <div class="row">
          <mat-form-field class="col">
            <input
              matInput
              placeholder="{{
                'trans.perso.memories.placeholder1' | translate
              }}"
              formControlName="title"
              required
              autofocus
            />
            <mat-error *ngIf="memoryFormGroup.get('title').invalid">
              {{ "trans.perso.memories.placeholder1" | translate }}
              {{ "trans.perso.memories.error" | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col">
            <input
              matInput
              placeholder="{{
                'trans.perso.memories.placeholder2' | translate
              }}"
              formControlName="author"
              required
            />
            <mat-error
              *ngIf="memoryFormGroup.get('author').hasError('required')"
            >
              {{ "trans.perso.memories.placeholder2" | translate }}
              {{ "trans.perso.memories.error" | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col">
            <textarea
              matInput
              placeholder="{{
                'trans.perso.memories.placeholder3' | translate
              }}"
              formControlName="text"
              rows="5"
            ></textarea>
            <mat-error *ngIf="memoryFormGroup.get('text').invalid">
              {{ "trans.perso.memories.placeholder1" | translate }}
              {{ "trans.perso.memories.error" | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <div class="col-12 d-flex justify-content-between">
            <button (click)="save()" mat-raised-button color="primary">
              {{ "trans.perso.memories.save" | translate }}
            </button>
            <button (click)="cancelEditing()" mat-raised-button>
              {{ "trans.perso.memories.cancel" | translate }}
            </button>
          </div>
        </div>
      </form>

      <ng-container *ngIf="!isEditing">
        <div
          [ngClass]="routeAnimationsElements"
          *ngIf="
            selectedBook$ | async as selectedMemory;
            else noSelectedMemoryTmpl
          "
        >
          <h3>{{ selectedMemory.title }}</h3>
          <mat-divider></mat-divider>
          <p>{{ selectedMemory.text }}</p>
          <i>{{ selectedMemory.author }}</i>
        </div>

        <ng-template #noSelectedMemoryTmpl>
          <p [ngClass]="routeAnimationsElements">
            {{ "trans.perso.memories.text" | translate }}
            <code>@ngrx/entity</code>.
          </p>
        </ng-template>
      </ng-container>
    </div>
  </div>
</div>
